/* ################################################################################################################################ */
/* ======================================================== CSS - SPOLEČNÉ ======================================================== */
/* ################################################################################################################################ */

:root {
  --main-color: rgba(0, 0, 0, 0.9);
  --submain-color: whitesmoke;
  --select: rgba(0, 140, 0, 0.889);
  --nav-bar:rgb(43, 127, 91);
  --nav-bar-sub:#88a78e;
  --nav-bar-sub-sub:#98ba9f;
  --background:rgb(255, 255, 255);
  --header-height: 80px;
  --logged-in: #95d3e3;
  --prihlaska: rgb(208, 107, 107);
  --kontakt-color: #f3e1c3;
}

@font-face {
  font-family: FontHeader;
  src: url("fonts/LuloCleanW05-OneBold.woff2");
}

@font-face {
  font-family: FontText;
  src: url("fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: FontTextHeaders;
  src: url("fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: FontGallery;
  src: url("fonts/New_Amsterdam/NewAmsterdam-Regular.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: FontHeader, sans-serif;
  background-color: var(--background);
  /* Aby byl footer pořád dole */
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.container, .container-contact {
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  font-family: FontText;
}

/* HLAVNÍ SEKCE */
#o-nas, #nas-tym, #aktuality, #Karstejn-aktualni, #zazemi-tabora, #aktivity, #ke-stazeni, .galerie, #prihlaska, #kronika, #log-form, .settings {
  margin: 0 auto;
}

#o-nas, #nas-tym, #aktuality, #zazemi-tabora, #aktivity, #ke-stazeni, .galerie, #prihlaska, #kronika, .settings {
  padding-top: 50px;
}

#o-nas, #aktuality, #Karstejn-aktualni, #zazemi-tabora, #aktivity, #ke-stazeni, #prihlaska, #kronika, #log-form {
  width: 90%;
}

#Karstejn-aktualni {
  padding-top: 100px;
}

#o-nas, .galerie, #prihlaska, #kronika, #log-form, #ke-stazeni {
  padding-bottom: 50px;
}

#nas-tym {
  width: 70%;
}

#aktuality {
  padding-bottom: 100px;
}

#Karstejn-aktualni {
  text-align: center;
  padding-bottom: 80px;
}

.galerie, .settings {
  width: 90%;
}

#log-form {
  padding-top: 100px;
}

.settings{
  padding-bottom: 25px;
}

/* HEADERS */

h1 {
  text-align: center;
  padding-bottom: 25px;
  font: FontTextHeaders;
  font-size: 55px;
  /* border: 2px solid firebrick; */
}

h2 {
  text-align: center;
  padding-bottom: 30px;
  font: FontTextHeaders;
  font-size: 40px;
  /* border: 2px solid green; */
}

h3 {
  text-align: center;
  padding-bottom: 25px;
  font-size: 32px;
  text-decoration: underline;
  /* border: 2px solid blue; */
}

h4 {
  padding-bottom: 10px;
  font-size: 18px;
  text-align: left;
  /* border: 2px solid lightcoral; */
}

/* ################################################################################################################################ */
/* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
/* ################################################################################################################################ */

header {
  position: relative;
  height: var(--header-height);
  width: 100%;
  display: flex;                          /* Bez toho by byl erb, nadpis a odkazy pod sebou -> všechny elementy jdou za sebou */
  justify-content: center;                /* Vytvoří horizontálně vycentrované objekty */
  align-items: center;                    /* Vytvoří vertikálně vycentrované objekty */
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 100;
}

/* ---------------------------------------------------- Logo, Nadpis, Navigace ---------------------------------------------------- */
#logo {
  max-height: 100%;
  max-width: 100px;
  margin-top: 4px;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.nadpis {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--submain-color);
  font-family: normal normal normal 130px/1em lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
  margin-right: auto;                     /* Dopočítá marginy vpravo -> hodí celou navigaci doprava */
  cursor: pointer;
}

.nadpis a {
  text-decoration: none;
  color: var(--submain-color);
}

.nadpis-LT, .nadpis-Karstejn {
  padding: 0 20px;
}

.nadpis-LT {
  font-size: 18px;
}

.nadpis-Karstejn {
  font-size: 23px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
  padding-right: 15px;
}

/* ----------------------------------------------------------- Navigace ----------------------------------------------------------- */
nav ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 12px;
  padding: 10px 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--submain-color);
  cursor: pointer;
}

nav ul li a:hover, .active {
  color: var(--select);
}

.btn-prihlaska {
  color: var(--prihlaska);
  border-radius: 30px;
  padding: 8px;
}

.btn-prihlaska:hover {
  background-color: whitesmoke;
  color: lightcoral;
}

.social-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  margin-right: 20px;
}

.social-top a {
  color: var(--submain-color);
}

.icon-fb, .icon-in, .icon-yt, .icon-user {
  padding: 10px 15px;
}

.icon-fb:hover, .social-bottom .icon-fb {
  background-clip: text;
  background: #3b5998;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-in:hover, .social-bottom .icon-in {
  background-clip: text;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-yt:hover, .social-bottom .icon-yt {
  background-clip: text;
  background: #CD201F;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 50px;
  position: relative;
}

.user .icon-user{
  color: var(--submain-color);
  font-size: 25px;
}

.user .icon-user:hover{
  color: var(--logged-in);
  font-size: 35px;
}

.user .logged-in{
  color: var(--logged-in);
  font-size: 35px;
}

/* ################################################################################################################################ */
/* ------------------------------------------------------------ ZÁPATÍ ------------------------------------------------------------ */
/* ################################################################################################################################ */

footer {
  background-color: var(--main-color);
  width: 100%;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: var(--submain-color);
}

.web-page-ref {
  font-size: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.social-bottom {
  padding-bottom: 10px;
}

.social-bottom a {
  padding: 0 10px;
}

/* ################################################################################################################################ */
/* ------------------------------------------------------------- HOME ------------------------------------------------------------- */
/* ################################################################################################################################ */

/* --------------------------------------------------------- Úvodní scéna --------------------------------------------------------- */
.image-main {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden; /* Ořízne se */
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
}

.image-main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: 100%;
  text-align: center;
}

.image-main-header h1{
  width: 100%;
  font-size: 5vw;
  color: var(--submain-color);
}

.image-main-anchors {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-main a {
  text-decoration: none;
  width: 250px;
  color: var(--submain-color);
  background-color: var(--main-color);
  border-radius: 25px;
  font-size: 16px;
  padding: 10px;
  margin: 30px;
}

.image-main a:hover {
  color: var(--select);
}

/* -------------------------------------------------------- Section - grid -------------------------------------------------------- */

.section-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.section-grid-item {
  padding: 25px;
  padding-bottom: 50px;
}

.section-grid-item p {
  font-size: 18px;
  text-align: center;
}

.section-grid-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section-grid-img img {
  border-radius: 10px;
  margin-top: 40px;
  max-width: 80%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

#parez {
  float: left;
  width: 40%;
}

#totem {
  float: right;
  width: 40%;
  margin-left: 20px;
}

#esus {
  float: left;
  width: 45%;
  margin: 10px;
}

#gong {
  float: right;
  width: 20%;
  /* padding-left: 20px; */
}

/* ------------------------------------------------------ Rozdělovací obrázek ------------------------------------------------------ */

.image-div {
  position: relative;
  width: 100%;
  height: 90vh;
  text-align: center;
  background-position: center;
  background-size: cover;
  opacity: 1;
}

.image-div h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: white;
}

/* ------------------------------------------------------------ Náš tým ------------------------------------------------------------ */

#nas-tym-skupinovka {
  width: 100%;
  border-radius: 10px;
}

.drawing_teepee_totem {
  display: flex;
  align-items: center;
  justify-content: center;
}

#teepee {
  width: 40%;
}

#totem_2 {
  width: 30%;
}

/* ############################################################################################################################### */
/* ----------------------------------------------------------- KONTAKT ----------------------------------------------------------- */
/* ############################################################################################################################### */

.contact {
  background-color: var(--kontakt-color);
  width: 100%;
  padding: 50px;
}

.contact-grid {
  display: grid;                                 
  grid-template-columns: 300px 300px auto;
}

.contact-grid-item h3{
  font-size: 22px;
  /* padding-top: 25px; */
  padding-bottom: 5px;
  text-align: left;
}

.contact-grid-item p{
  padding-bottom: 7px;
}

.contact-map iframe {
  border-radius: 20px;
  width: 100%;
  /* margin-top: 25px; */
}

/* ################################################################################################################################ */
/* ------------------------------------------------------------- INFO ------------------------------------------------------------- */
/* ################################################################################################################################ */

/* ----------------------------------------------------- Aktuality - carusel ----------------------------------------------------- */

.aktuality-carusel {
  height: 70vh;
  overflow: hidden;
  position: relative;
  background-color: var(--submain-color);
  border-radius: 20px;
  border: 0.5px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.aktuality-slider {
  height: 100%;
  display: flex;
  width: 300%;  /* 3 sekce = 300% */
  transition: all 0.5s;
}

.aktuality-slider section {
  flex-basis: 100%;         /* Celková šířka flexu */
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.controls i {
  font-size: 60px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.controls ul {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  display: flex;
  padding: 0;  /* ul ma padding a margin by default - nepodarilo by se mi vycentrovat */
  margin: 0;
}

.controls ul li {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10px;
  background-color: black;
  cursor: pointer;
}

.controls ul li.selected {
  background: transparent;
}

/* ----------------------------------------------------- Aktualita ve slideru ----------------------------------------------------- */

.aktualita {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.aktualita img {
  max-width: 220px;
  max-height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.aktualita h3 {
  max-width: 300px;
  margin: 0 auto;
  font-size: 28px;
  padding-bottom: 10px;
}

.aktualita p {
  max-width: 300px;
  margin: 0 auto;
  font-size: 20px;
}

.aktualita a {
  color: darkblue;
}

/* --------------------------------------------------- Karštejn aktuální ročník --------------------------------------------------- */

.karstejn-behy-info {
  font-size: 22px;
}

.behy-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.behy-grid h2 {
  padding: 60px 0 0 0;
}

.behy-grid .datum-behu {
  padding: 15px 0 0 0;
  font-size: 30px;
}

.behy-grid h3 {
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 32px;
  text-decoration: none;
}

.behy-grid-item img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.behy-grid-item .btn-prihlaska {
  text-decoration: none;
  color: black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px;
  width: 270px;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
}

.prihlasky-zahajeny {
  background-color: #88a78e;
  border: 2px solid #17792b;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}
.prihlasky-zahajeny:hover {
  transition-duration: 0.5s;
  font-weight: bold;
}

.prihlasky-nezahajeny {
  background-color: #d6c19f;
  border: 2px solid #805106;
  cursor: default;
  pointer-events: none;
}

/* ----------------------------------------------------- Informace pro rodiče ----------------------------------------------------- */

.photo-info {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.info-photo-gallery {
  display: flex;
  gap: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* ----------------------------------------------------------- Download ------------------------------------------------------------ */

.section-download-grid {
  display: grid;
  grid-template-columns: 400px auto;
}

.section-download-grid-item {
  padding: 15px 0;
}

.section-download-grid-item p {
  font-size: 18px;
  font-weight: 500;
}

.btn-download {
  background-color: var(--main-color);
  color: var(--submain-color);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
}

.btn-download:hover {
  background-color: var(--submain-color);
  color: var(--main-color);
  font-weight: 500;
  border: 2px solid var(--main-color)
}

/* ############################################################################################################################### */
/* ----------------------------------------------------------- GALERIE ----------------------------------------------------------- */
/* ############################################################################################################################### */

/* ----------------------------------------------------------- Navigace ----------------------------------------------------------- */

.nav-bar {
  position: relative;
  z-index: 50;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--nav-bar-sub);
  font-family: FontGallery;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 25px;
}

.nav-bar i {
  font-size: 30px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items ul li {
  display: inline-flex;     /* V řadě */
  text-align: center;
  list-style-type: none;    /* Žádné tečky - žádný styl */
}

.nav-items ul li a {
  color: black;
  text-decoration: none;  /* Žádné podtržení */
  display: inline-block;
  min-width: 100px;
  font-size: 20px;
}

.active-item, .active-album {
  font-weight: bold;
  padding: 15px;
  background-color: var(--nav-bar);
  border-radius: 5px;
}

.active-album {
  font-style: italic;
  cursor: default;
}

li:has(> a.non-active-album) {
  display: none;
}

.nav-items ul li a:hover {
  font-weight: bold;
}

.nav-items-control {
  display: none;
  height: 100%;
  width: 100%;
}

.nav-items-control a {
  color: black;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow-back {
  left: 10px;
  transform: translate(0%, -50%);
}

.arrow-nav {
  right: 10px;
  transform: translate(0, -50%);
}

.log-out button {
  height: 30px;
  font-weight: bold;
  background-color: var(--nav-bar);
  border: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.85); */
  font-family: FontGallery;
  font-weight: 100;
  font-size: 18px;
}

/* ------------------------------------------------------ Galerie - obrázky ------------------------------------------------------ */

.photo-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* how many columns we want (5), and what size they should all be (1fr — or one fraction of the available space) */
  grid-gap: 25px;
  margin-top: 25px;
}

.album, .pic {
  position: relative;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.album:hover, .pic:hover{
  transform: scale(1.05);
}

.album::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.album:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.album:hover > a .img-text{
  display: none;
}

.album:hover > a .img-text-hidden{
  display: block;
}

.img-text {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  font-family: FontGallery;
}

.img-text-hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  display: none;
  font-family: FontGallery;
  width: 100%;
}

.pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* ----------------------------------------------------------- Lightbox ----------------------------------------------------------- */

.lightbox {
  position: fixed;
  z-index: 75;
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
}

.lightbox-content {
  position: relative;
  height: 85%;
  max-width: 70%;
  margin: 80px auto;
}

.lightbox-content img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  height: auto;
  border: 2px solid whitesmoke;
  object-fit: cover;
}

.lightbox-prev, .lightbox-next {
  position: absolute;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.lightbox-prev {
  left: 10px;
}

.lightbox-next {
  right: 10px;
}

.lightbox-content i {
  font-size: 45px;
}
/* ############################################################################################################################### */
/* ---------------------------------------------------------- PŘIHLÁŠKA ---------------------------------------------------------- */
/* ############################################################################################################################### */

.formular {
  border: 2px solid darkgreen;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  background-color: var(--nav-bar-sub-sub);
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  margin-bottom: 15px;
}

.prihlaska-instrukce {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.submit-form {
  display: flex;
  justify-content: center;
}

.formular .main-label {
  font-weight: 600;
}

.formular h4 {
  padding: 10px 0;
  font-size: 20px;
}

.formular h5 {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 14px;
}

.formular p {
  font-style: italic;
  padding-top: 5px;
  font-size: 14px;
}

.formular ul {
  padding-left: 0;
  padding-bottom: 10px;
}

.formular ul ul {
  padding-left: 30px;
}

.formular ul li {
   list-style-position: inside;
   padding-top: 5px;
}

.input-box .main-label {
  display: block;
  text-align: left;
}

.input-box .input-text {
  margin: 10px 0;
  padding: 15px 15px;
  position: relative;
  width: 100%;
  outline: none;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
}

.input-box #input-text-jine {
  margin: 10px 0;
  padding: 15px 15px;
  position: relative;
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
}

.input-box-radio {
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
}

.input-box-radio div {
  margin: 5px;
}
.input-box-radio label {
  margin-left: 5px;
}

input[type=submit] {
  background-color: var(--nav-bar);
  border: 1px solid black;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

input:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

.form-ke-stazeni a {
  display: block;
  padding-bottom: 10px;
  color: darkblue;
}

.required:after {
	content: '*';
	color: darkred;
  padding-left: 5px;
}

/* ------------------------------------------------------ Výstrahy a statusy ------------------------------------------------------ */

.alert {
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.alert-success {
  color: green;
}

.alert-danger {
  color:red;
}

.alert-danger li {
  list-style-type: none;
}

.log-out {
  position: absolute;
  right: 15px;
}

.prihlaseni-status {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  /* border: 2px solid blue; */
}

.error-login-role-message, .error-login-credentials-message {
  text-align: center;
  color: firebrick;
  font-weight: bold;
  padding-top: 15px;
  /* border: 2px solid saddlebrown; */
}

.prihlaska-status h4{
  text-align: center;
}

.prihlaska-status {
  padding-bottom: 20px;
  color: #CD201F;
}

.prihlaska-status-aktivni {
  color: #17792b;
}

/* ################################################################################################################################# */
/* ------------------------------------------------------------ KRONIKA ------------------------------------------------------------ */
/* ################################################################################################################################# */

.kronika-obsah {
  position: relative;
  min-height: 100vh;
  background-image: url(images/kronika.jpg);
  background-position: center;
  background-size: cover;
}

.kronika-obsah p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
}

/* ############################################################################################################################### */
/* ------------------------------------------------------------ LOGIN ------------------------------------------------------------ */
/* ############################################################################################################################### */



/* ############################################################################################################################### */
/* ---------------------------------------------------------- NASTAVENÍ ---------------------------------------------------------- */
/* ############################################################################################################################### */

/* ----------------------------------------------------------- TABULKY ----------------------------------------------------------- */

.table-container {
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-height: 500px;
}

table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: var(--nav-bar);
  text-align: left;
}

thead {
  position: sticky;
  top: 0;
}

th, td {
  padding: 5px 15px;
}

tbody tr {
  border-bottom: 1px solid lightgray;
}

tbody tr:nth-of-type(even) {
  background-color: var(--nav-bar-sub-sub);
}

/* ----------------------------------------------------------- TOGGLE ----------------------------------------------------------- */
.toggle {
    display: block;
    background-color: var(--submain-color);
    border: 1px solid var(--main-color);
    width: 50px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
}

.toggle::before {
  position: absolute;
  content: '';
  background-color: var(--main-color);
  width: 21px;
  height: 21px;
  border-radius: 50px;
  margin: 1px;
  transition: 0.4s;
}

input:checked + .toggle {
  background-color: var(--main-color);
}

input:checked + .toggle::before {
  background-color: var(--submain-color);
  transform: translateX(25px);
}

.checkbox-toggle {
  display: none;
}

.nastaveni-prihlasky {
  min-height: 55vh;
}

/* ################################################################################################################################ */
/* ################################################################################################################################ */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------- RESPONSIVE ---------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------- */
/* ################################################################################################################################ */
/* ################################################################################################################################ */


/* ============================================================= 1230 ============================================================= */
/* ---------------------------------------------------- Zejména kvůli navigaci ---------------------------------------------------- */

@media only screen and (max-width: 1230px) {

  /* ---------------------------------------------------------- Navigace ---------------------------------------------------------- */
  
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 100;           /* Aby se při zmenšení obrazovky rovnou zobrazila ručička jako pointer. Bez toho občas jen šipka */
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--submain-color);
    margin: 6px 0;
  }
  
  nav {
    height: 0%;             /* nemá velký význam - spíš pro vývoj */
    position: absolute;
    top: 80px;              
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    background-color: var(--submain-color);
    opacity: 1;             
    transition: 0.5s;       /* Pomalu se zobrazí */
    overflow: hidden;       /* Skryje se - funguje s opacity */
  }

  nav ul li {
    padding-top: 0px;
    margin: auto;
    display: block;
    opacity: 1;
  }

  nav ul li a {
    color: var(--main-color);
  }

  nav .social-top, nav .user {
    margin: auto;
    opacity: 0;
  }

  nav .social-top a, nav .user .icon-user{
    color: var(--main-color);
  }

  nav .user .icon-user:hover {
    font-size: 25px;
  }

  .active_hamburger {
    height: auto;
  }

  .active_hamburger ul {
    padding-top: 15px;
  }

  .active_hamburger ul li {
    padding: 15px;
    opacity: 1;
  }

  .active_hamburger .social-top {
    opacity: 1;
    text-align: center;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .active_hamburger .user {
    opacity: 1;
    text-align: center;
    padding-left: 0;
    padding-bottom: 20px;
  }

  /* ----------------------------------------------------------- Galerie ----------------------------------------------------------- */

  .photo-gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .img-text-hidden {
    font-size: 35px;
  }

  /* -------------------------------------------------- Odkazy na hlavním obrázku -------------------------------------------------- */

  .image-main-anchors {
    display: block;
  }

  .image-main a {
    display: block;
    margin: 15px auto;
  }

}


/* ============================================================= 1000 ============================================================= */
/* ------------------------------------------------- Navigace - setting + galerie ------------------------------------------------- */

@media only screen and (max-width: 1000px) {

  /* ---------------------------------------------------------- Navigace ---------------------------------------------------------- */

  .nav-items {
    height: 0%;
    width: 100%;
    position: absolute;
    top: 50px;
    display: block;
    text-align: center;
    opacity: 1;             
    transition: 0.5s;
  }

  .nav-items ul li {
    padding-top: 0px;
    width: 100%;
    margin: auto;
    display: block;
    background-color: var(--nav-bar-sub-sub);
  }

  /* Skryje neaktivní galerie */
  .nav-items ul .nonact {
    opacity: 0;
  }

  /* Přesune galerii doleva na bar */
  .active-item{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    translate: 0 -25px;
  }

  /* Překryje bar názvem alba */
  .active-album {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    translate: 0 -25px;
  }

  .log-out {
    top: -40px;
    right: 40px;
  }

  /* Šipka vpravo */
  .nav-items-control {
    display: block;
  }

  /* Ukáže naktivní galerie */
  .active-nav-items ul .nonact {
    padding: 10px;
    opacity: 1;
  }
  
  .active-nav-items ul .nonact {
    padding: 10px;
    opacity: 1;
    /* border: 2px saddlebrown solid; */
  }

  /* Hide non-active albums */
  .nav-items ul li:has(a.non-active-album) {
    display: none;
  }

  /* ---------------------------------------------------------- Galerie ---------------------------------------------------------- */

  .photo-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .img-text-hidden {
    font-size: 32px;
  }

  /* ----------------------------------------------------------- O Nás ----------------------------------------------------------- */

  #o-nas {
    width: 95%;
  }

  /* ----------------------------------------------------------- Contact ----------------------------------------------------------- */

  .contact-grid {                               
    grid-template-columns: auto auto;
  }

  .map {
    grid-column: 1 / span 2; /* Span across both columns */
    padding-top: 25px;
  }

  /* ------------------------------------------------------ Aktuální Kařtejn ------------------------------------------------------ */

  .behy-grid-item img {
    max-height: 350px;
  }

  /* -------------------------------------------------------- Section grid -------------------------------------------------------- */

  .section-grid {
    grid-template-columns: auto;
  }

  .section-grid-item {
    padding-bottom: 25px;
  }

  #o-nas .section-grid .section-grid-item:nth-of-type(1){
    order: 1;
  }

  #o-nas .section-grid .section-grid-item:nth-of-type(2){
    order: 2;
  }

  #o-nas .section-grid .section-grid-item:nth-of-type(4){
    order: 3;
  }

  #o-nas .section-grid .section-grid-item:nth-of-type(3){
    order: 4;
  }

  #o-nas .section-grid .section-grid-item:nth-of-type(5){
    order: 5;
  }

  #o-nas .section-grid .section-grid-item:nth-of-type(6){
    order: 6;
  }

  #o-nas .section-grid .section-grid-item:nth-of-type(8){
    order: 7;
  }

  #o-nas .section-grid .section-grid-item:nth-of-type(7){
    order: 8;
  }

  .section-grid-img img{
    margin-top: 0;
    max-width: 100%;
  }
}

/* ============================================================= 700 ============================================================= */
/* ------------------------------------------------------------ Mobil ------------------------------------------------------------ */

@media only screen and (max-width: 700px) {

  /* ------------------------------------------------------- Hlavní sekce -------------------------------------------------------- */

  #o-nas, #nas-tym, #zazemi-tabora, #aktivity, #ke-stazeni, .galerie, #prihlaska, #kronika, .settings {
    padding-top: 50px;
  }

  #o-nas, #Karstejn-aktualni, #zazemi-tabora, #aktivity, #ke-stazeni, #prihlaska, #kronika, #log-form {
    width: 90%;
  }

  #aktuality {
    width: 90%;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  #Karstejn-aktualni {
    padding-top: 100px;
    width: 70%;
  }

  .galerie, #prihlaska, #kronika, #log-form, #ke-stazeni {
    padding-bottom: 25px;
  }

  #nas-tym {
    width: 80%;
  }

  #Karstejn-aktualni {
    text-align: center;
    padding-bottom: 80px;
  }

  .galerie, .settings {
    width: 90%;
  }

  #log-form {
    padding-top: 100px;
  }

  .settings{
    padding-bottom: 25px;
  }

  /* ------------------------------------------------------- Hlavní stránky ------------------------------------------------------ */

  .image-main {
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/stany.jpg);
    background-position: center;
    background-size: cover;
  }

  #myVideo {
    display: none;
  }

  .image-main-header h1{
    font-size: 5vh;
    padding-bottom: 80px;
  }

/* --------------------------------------------------------- Info stránka --------------------------------------------------------- */

  .aktuality-carusel {
    height: 60vh;
  }

  .behy-grid {
    grid-template-columns: auto;
  }

  .behy-grid img {
    max-height: 300px;
  }

  .section-download-grid {
    grid-template-columns: auto;
    text-align: center;
  }

/* ----------------------------------------------------------- Galerie ------------------------------------------------------------ */

  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .lightbox {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
  }
  
  .lightbox-content {
    height: 90%;
    max-width: 100%;
    margin: 80px auto;
  }
  
  .lightbox-content img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    height: auto;
    border-width: 0;
    object-fit: cover;
  }

  .info-photo-gallery {
    flex-direction: column;
  }

  .img-text-hidden {
    font-size: 40px;
  }

  .contact-grid {                               
    grid-template-columns: auto;
  }

  .contact-grid h3{
    padding-top: 15px;
  }

  .map {
    grid-column: auto; /* Odstraní span */
  }
}